body {
    justify-content: center;
    background-color: rgb(68, 218, 198);
    font-family: Arial;
    margin-top: 5vw;
}
.header {
    font-size: 25pt;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 50pt;
    color: white;
}
.pscore {
    justify-content: center;
    float: left;
    margin-left: 17%;
    border: 5px solid rgb(228, 78, 78);
    font-size: 23pt;
    color: white;
}
.cscore {
    justify-content: center;
    float: right;
    margin-right: 17%;
    border: 5px solid rgb(228, 78, 78);
    font-size: 23pt;
    color: white;
}
.msg{
    text-align: center;
    padding-top: 8%;
    font-size: 35pt;
    color: white;
}
#rock {
    width: 15vh;
    height:15vh;
    margin-left: 5%;
}
#paper {
    margin-left: 5%;
    margin-right: 5%;
    height: 15vh;
}
#scissors {
    height: 15vh;
    margin-right: 5%;
}
.choice {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}